@model Adventureworks.Data.Currency


<h1>Detalles</h1>

<div>
    <h4>Divisas</h4>

<dl class="row">
    <dt class="col-sm-2" >
        @Html.DisplayNameFor(model => model.CurrencyCode)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CurrencyCode)
    </dd>
</dl>

</div>

